body, div, h1, p, input {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  border: none;
}

body {
  background: url("../images/bjack_background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

h1, #rules-button {
  align-self: center;
}

.header-container {
  display: flex;
  align-self: center;
}

#modal-button {
  height: 40px;
  width: 100px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid white;
  font-size: 15px;
  z-index: 2;
  margin-top: 15px;
  margin-left: 50px;
}

#modal-button:hover {
  background-color: grey;
  color: white;
}

.game-rules {
  color: white;
  margin-left: 3%;
}

.rules-title {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

li {
  margin-left: 5%;
}

#title {
  color: white;
  font-size: 50px;
  text-align: center;
  z-index: 2;
  font-weight: bold;
}

.game-container {
  display: flex;
  margin-top: 2%;
  justify-content: center;

}

.board {
  display: flex;
  height: 600px;
  width: 900px;
  background: rgba(169, 169, 169, .3);
  /*align-items: flex-end;*/
  justify-content: flex-end;
  flex-direction: column;
  color: white;
  -webkit-box-shadow: 0px 0px 300px 49px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 300px 49px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 300px 49px rgba(0,0,0,0.75);
}

.board p {
  opacity: 1;
}

.buttons-container {
  display: flex;
  margin-top: 3%;
  justify-content: space-around;
}

.game-controllers {
  display: flex;
  margin-top: 3%;
  justify-content: space-around;
}

.surrender-button, .split-button, .double-button, .stand-button,
  .hit-button, .deal-button, .reset-button, #rules-button{
  height: 40px;
  width: 100px;
  border-radius: 10px;
  background-color: #B0C4DE;
  border: 1px solid #B0C4DE;
  cursor: pointer;
}

.surrender-button:hover, .split-button:hover, .double-button:hover, .stand-button:hover,
  .hit-button:hover, .deal-button:hover, .reset-button:hover {
  background-color: #778899;
  border: 1px solid #778899;
}

.game-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100px;
  align-items: center;
}

.in-game-message {
  font-size: 50px;
  margin: 0 auto;
}

.start-message {
  font-size: 70px;
  margin: 0 auto;
}

.dealer-cards-container {
  display: flex;
  justify-content: center;
  border: 1px solid red;
  width: 100%;
}

.dealer-cards, .player-cards {
  height: 250px;
  width: 100%;
  /*border: 1px solid black;*/
}

.card {
  height: 150px;
  width: 110px;
  background-repeat: no-repeat;
  background-size: contain;
}

.player-cards {
  display: flex;
  align-items: flex-end;
}

.dealer-cards, .player-hand1-cards, .player-hand2-cards {
  /*display: flex;
  justify-content: center;*/
  /*position: relative;*/
}

.player-hand1-cards, .player-hand2-cards {
  position: relative;
}

.dealer-cards {
  position: relative;
}

.player-chips-container {
  display: flex;
  align-self: flex-start;
  font-size: 30px;
}

.hand-chips {
  margin-left: 10px;
  transition: opacity 1s, bottom 1s;
}

.dealer-hand {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;

}

.player-hand1, .player-hand2 {
  height: 100%;
  width: 100%;
}

.player-hand1-cards, .player-hand2-cards {
  height: 150px;
  width: 100%;
}

.dealer-score {
  text-align: center;
  font-size: 30px;
  width: 100%;
}

.player-hand1-score, .player-hand2-score {
  text-align: center;
  font-size: 30px;
  width: 100%;
}

.card0 {
  position: absolute;
  margin-left: 44%;
}

.card1 {
  position: absolute;
  margin-left: calc(44% + 20px);
}

.card2 {
  position: absolute;
  margin-left: calc(44% + 40px);
}

.card3 {
  position: absolute;
  margin-left: calc(44% + 60px);
}

.card4 {
  position: absolute;
  margin-left: calc(44% + 80px);
}

.card5 {
  position: absolute;
  margin-left: calc(44% + 100px);
}

.card6 {
  position: absolute;
  margin-left: calc(44% + 120px);
}

.card7 {
  position: absolute;
  margin-left: calc(44% + 140px);
}

#clubs-2 {
  background-image: url("../images/2_of_clubs.png");
}

#clubs-3 {
  background-image: url("../images/3_of_clubs.png");
}

#clubs-4 {
  background-image: url("../images/4_of_clubs.png");
}

#clubs-5 {
  background-image: url("../images/5_of_clubs.png");
}

#clubs-6 {
  background-image: url("../images/6_of_clubs.png");
}

#clubs-7 {
  background-image: url("../images/7_of_clubs.png");
}

#clubs-8 {
  background-image: url("../images/8_of_clubs.png");
}

#clubs-9 {
  background-image: url("../images/9_of_clubs.png");
}

#clubs-10 {
  background-image: url("../images/10_of_clubs.png");
}

#clubs-J {
  background-image: url("../images/jack_of_clubs.png");
}

#clubs-Q {
  background-image: url("../images/queen_of_clubs.png");
}

#clubs-K {
  background-image: url("../images/king_of_clubs.png");
}

#clubs-A {
  background-image: url("../images/ace_of_clubs.png");
}

#diamonds-2 {
  background-image: url("../images/2_of_diamonds.png");
}

#diamonds-3 {
  background-image: url("../images/3_of_diamonds.png");
}

#diamonds-4 {
  background-image: url("../images/4_of_diamonds.png");
}

#diamonds-5 {
  background-image: url("../images/5_of_diamonds.png");
}

#diamonds-6 {
  background-image: url("../images/6_of_diamonds.png");
}

#diamonds-7 {
  background-image: url("../images/7_of_diamonds.png");
}

#diamonds-8 {
  background-image: url("../images/8_of_diamonds.png");
}

#diamonds-9 {
  background-image: url("../images/9_of_diamonds.png");
}

#diamonds-10 {
  background-image: url("../images/10_of_diamonds.png");
}

#diamonds-J {
  background-image: url("../images/jack_of_diamonds.png");
}

#diamonds-Q {
  background-image: url("../images/queen_of_diamonds.png");
}

#diamonds-K {
  background-image: url("../images/king_of_diamonds.png");
}

#diamonds-A {
  background-image: url("../images/ace_of_diamonds.png");
}

#hearts-2 {
  background-image: url("../images/2_of_hearts.png");
}

#hearts-3 {
  background-image: url("../images/3_of_hearts.png");
}

#hearts-4 {
  background-image: url("../images/4_of_hearts.png");
}

#hearts-5 {
  background-image: url("../images/5_of_hearts.png");
}

#hearts-6 {
  background-image: url("../images/6_of_hearts.png");
}

#hearts-7 {
  background-image: url("../images/7_of_hearts.png");
}

#hearts-8 {
  background-image: url("../images/8_of_hearts.png");
}

#hearts-9 {
  background-image: url("../images/9_of_hearts.png");
}

#hearts-10 {
  background-image: url("../images/10_of_hearts.png");
}

#hearts-J {
  background-image: url("../images/jack_of_hearts.png");
}

#hearts-Q {
  background-image: url("../images/queen_of_hearts.png");
}

#hearts-K {
  background-image: url("../images/king_of_hearts.png");
}

#hearts-A {
  background-image: url("../images/ace_of_hearts.png");
}

#spades-2 {
  background-image: url("../images/2_of_spades.png");
}

#spades-3 {
  background-image: url("../images/3_of_spades.png");
}

#spades-4 {
  background-image: url("../images/4_of_spades.png");
}

#spades-5 {
  background-image: url("../images/5_of_spades.png");
}

#spades-6 {
  background-image: url("../images/6_of_spades.png");
}

#spades-7 {
  background-image: url("../images/7_of_spades.png");
}

#spades-8 {
  background-image: url("../images/8_of_spades.png");
}

#spades-9 {
  background-image: url("../images/9_of_spades.png");
}

#spades-10 {
  background-image: url("../images/10_of_spades.png");
}

#spades-J {
  background-image: url("../images/jack_of_spades.png");
}

#spades-Q {
  background-image: url("../images/queen_of_spades.png");
}

#spades-K {
  background-image: url("../images/king_of_spades.png");
}

#spades-A {
  background-image: url("../images/ace_of_spades.png");
}

#card-back {
  background-image: url("../images/card-back.jpg");
  width: 110px;
}
